import PropTypes from 'prop-types';
import { useSyncState } from 'reactium-core/sdk';
import React, { forwardRef, useImperativeHandle } from 'react';

/**
 * -----------------------------------------------------------------------------
 * Functional Component: {{name}}
 * -----------------------------------------------------------------------------
 */
let {{name}} = ({ className }, ref) => {

    const state = useSyncState({});

    useImperativeHandle(ref, () => state);

    return <div className={className}>{{name}}</div>;
};

{{name}} = forwardRef({{name}});

{{name}}.propTypes = {
    className: PropTypes.string,
};

{{name}}.defaultProps = {
    className: '{{className}}'
}; 

export default {{name}};
